<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1><%=postTitle%></h1>
<p><%=postBody%></p>
<%for(let i=0;i<length; i++){ %>
<p><%=content[i].Content%></p>
<%}%>

  </body>
</html>
